@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
.lanrenzhijia{width:1000px; height:500px; overflow:hidden; margin:0 auto;}
.box li{ width:325px; height:232px; margin-left:8px; margin-bottom:8px; float:left;overflow:hidden;position:relative;}
.toll_img{ width:325px;height:232px;}
.toll_info{width:325px;height:232px; vertical-align:middle;display:table-cell;}
.box li .box1{ color:#666;text-decoration:none;position:absolute;top:0;left:0;cursor:pointer;}