body{margin:0;padding:0; font-size:12px;}
form,p,div,ul,li,input,select,pre{margin:0;padding:0;}
td,body,{font-size:12px; text-decoration: none;}
a{color:#333; text-decoration: none;}
a:hover{color: #FF0000; text-decoration: underline;}
img{border:none; padding:0; margin:0;}
ul,li{list-style:none;}
.dis{display:block;}
.undis{display:none;}
	
.bai,.bai a{color:#fff;}
	.bai a:hover{color: #FF0000;}
	
.lan,.lan a{color:#2a507d;}
	.lan a:hover{color: #FF0000;}
	
.hong,.hong a{color:#e31b1b;}
	.hong a:hover{color: #FF0000;}
	
.lv,.lv a{color:#13810b;}
	.lv a:hover{color: #FF0000;}
	
.hui,.hui a{color:#686868;}
	.hui a:hover{color: #FF0000;}
	
.qhui,.qhui a{color:#9d9d9d;}
	.qhui a:hover{color: #FF0000;}
	
.ftsz14{font-size:14px;}	
.ht18{font-family:"ºÚÌå"; font-size:18px;}

.ti_2{text-indent:2em;}
		
.lh_24{line-height:24px;}
.lh_30{line-height:30px;}
.lh_26{line-height:26px;}
.lh_22{line-height:22px;}
.lh_20{line-height:20px;}

.mgt_10{margin-top:10px;}

.bg_tx{background-position:top; background-repeat:repeat-x;}
.bg_bx{background-position:bottom; background-repeat:repeat-x;}
.bg_tln{background-position:top left; background-repeat:no-repeat;}
.bg_trn{background-position:top right; background-repeat:no-repeat;}

.bd_1{border:1px solid #e5e4e9; border-top:none;}
.bd_2{border-bottom:1px dashed #d2d1d9;}
.bd_3{border:1px solid #e4f1e4; border-top:none;}
.bd_4{border-left:1px solid #d8dfe9; border-right:1px solid #d8dfe9;}
.bd_5{border:1px solid #d8dfe9; border-top:none;}


.pic_1 img{border:1px solid #d6d6d6; padding:2px; background:#fff;}
.pic_2 img{border:1px solid #d6d6d6;}

.fl{float:left;}
.fr{float:right;}

.zm a{margin:0 6px;}

.tt{width:798px; height:96px; border-bottom:1px dashed #d3d3d5;  margin:0 auto;}
.over{background:#f4f8ff; cursor:hand;}

#tt{width:798px; margin:0 auto;}
#tab1 .over,#tab1 .out{height:96px; border-bottom:1px dashed #d3d3d5; cursor:hand;}
#tab1 .over{background:#f4f8ff;}

.fanye a{line-height:21px; padding:0 7px; float:left; margin-right:2px; border:1px solid #cbd8e6; display:block; color:#0b3b8c;}
.fanye .pageup{color:#c4c4c4; border-color:#c4c4c4;}
.fanye .pagenow{color:#fff; border-color:#0b3b8c; background:#2760ca}/*  |xGv00|77eb5c16111e9bce07155b52e838ca61 */